/* resposive css only */

@media (max-width: 1366px){
    
}

@media (max-width: 1280px){
    .sub-menu .sub-menu-level-2{
        width: 450px;
    }   
}

@media (max-width: 1200px){
    .navbar-nav .nav-item .nav-link{
        padding: 8px 10px;
    }
    .sub-menu{
        top: 37px;
    }
    .sub-menu, .sub-menu-level-1, .sub-menu-level-1:before{
        width: 280px;
    }
    .sub-menu .sub-menu-level-2{
        margin-left: 280px;
        width: 450px;
    }
    .sub-menu ul li a{
        font-size: 0.875em;
    }
    .category-listing select{
        width: 100%;
    }
    .product-detail .product-row span{
        padding: 5px;
    }

    .modal-xl{
        max-width: 800px;
    }
}

@media (min-width: 991px) and (max-width: 1200px){
    .currency-open{
        position: fixed !important;
        top: auto !important;
        left: auto !important;
        /* width: inherit !important; */
        width: 110px !important;
        right: 50px;
    }
    .language-open{
        width: 130px !important;
    }
}

@media (max-width: 1199px){
    .search-container-v2 .search-inline-form li:not(:last-child){
        padding-right: 10px;
    }
    .search-container-v2 .search-inline-form li:first-child{
        width: 120px;
    }
    .search-container-v2 .search-inline-form li:nth-child(3){
        width: 250px;
    }
    .address-card{
        padding: 15px 10px;
    }
    .add-footer img{
        margin-right: 5px;
    }
}

@media (max-width: 1024px){
    .subscription-head .subscription-listing li{
        font-size: 10px;
    }
    .subscription-listing{
        padding: 15px 10px;
    }
    .subscription-body .text-small{
        font-size: 0.75em !important;
    }
}

@media (max-width: 991px){
    
    body{
        font-size: 0.875rem;
    }
    .navbar-brand img{
        max-width: 100px;
    }
    .sub-menu{
        left: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
    .sub-menu-level-1, .sub-menu .sub-menu-level-2{
        height: auto;
    }
    .sub-menu, .sub-menu-level-1, .sub-menu-level-1:before {
        width: 100%;
    }
    .sub-menu .sub-menu-level-2{
        min-height: auto;
    }
    .menu-fixed .mob-hide{
        display: none;
    }
    .log-menus{
        display: inline-block;
    }

    /* header */
    .close-pop-icn{
        display: block;
        position: absolute;
        background: #ff8a00;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        right: 15px;
        top: 15px;
        z-index: 2;
    }
    .close-pop-icn a{
        color: #fff;
    }
    .head-v2 .top-header{
        margin-top: 5px;
        position: absolute;
        right: 0;
    }
    .head-v2 .navbar-toggler-icon{
        text-align: left;
        margin-top: 2px;
    }
    .navbar-toggler{
        line-height: 28px;
        color: #ff8a00;
        padding: 0px;
    }
    .navbar-collapse{
        background-color: #fff;
    }
    .navbar-collapse .navbar-nav{
        height: 100vh;
        padding-top: 20px;
    }
    .menu-fixed.collapsing{
        transition: none;
    }
    .menu-fixed{
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9;
        overflow: auto;
    }
    .navbar-nav .nav-item:last-child{
        padding-bottom: 10px;
    }
    .navbar-nav .nav-item .nav-link, .navbar-nav .nav-item .nav-link svg path{
        color: #000;
        fill: #000 !important;
    }
    
    .navbar-toggler:focus{
        outline: none;
    }
    header .navbar{
        margin-top: 0px;
        padding: 0px;
        align-items: flex-start;
        margin-top: 10px
    }
    .sub-menu{
        position: static;
    }
    .sub-menu:before, .sub-menu-level-1:before{
        display: none;
    }
    .sub-menu-level-1{
        border-radius: 0px;
        width: 100%;
    }
    .sub-menu-level-1 > li > a:after{
        content: "\f067";
        font-family: "fontAwesome";
        float: right;
        color: #ff8a00;
    }
    .sub-menu-level-1 > li > a.show:after{
        content: "\f068";
    }
    .sub-menu-level-1 > li:hover > a:after{
        color: #fff;
    }
    .sub-menu-level-1 > li:first-child > a:hover, .sub-menu-level-1 > li:last-child > a:hover{
        border-radius: 0px;
    }
    .sub-menu .sub-menu-level-2, .head-v2 .sub-menu .sub-menu-level-2{
        position: static;
        margin-left: 0px;
        width: 100%;
        box-shadow: none;
        padding-left: 0px;
        padding-bottom: 0px;
        -webkit-column-count: auto; /* Chrome, Safari, Opera */
        -moz-column-count: auto; /* Firefox */
        column-count: auto;
    }
    .head-v2 .sub-menu .sub-menu-level-2{
        padding-top: 10px;
    }
    .sub-menu .sub-menu-level-1 ul{
        display: block;
    }
    .sub-menu .sub-menu-level-2 li{
        width: 100%;
    }
    .sub-menu-level-2 li a{
        padding: 5px 20px;
    }
    /* .navbar-nav .nav-item:hover .nav-link ~ .sub-menu .sub-menu-level-1 li:first-child .sub-menu-level-2{
        display: none;
    } */
    .sub-menu-level-2 h3{
        padding-left: 20px;
        margin-bottom: 5px;
    }

    div.dataTables_wrapper div.dataTables_info{
        white-space: normal;
    }

    /* search container v2 */
    .search-container-v2 .search-inline-form{
        flex-flow: column;
        align-items: flex-start !important;
        position: relative;
    }
    .search-container-v2 .search-inline-form li{
        padding-right: 0px;
        width: 100% !important;
    }
    .search-container-v2 .search-inline-form li:not(:last-child){
        margin-bottom: 10px !important;
        padding-right: 0px;
    }
    .search-container-v2.search-container h3{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .search-container-v2 .search-inline-form li label[for="addSearch"]{
        display: none;
    }
    .search-container-v2 .search-inline-form li:last-child{
        position: absolute;
        right: 0px;
        width: auto !important;
        bottom: 8px;
    }
    .category-listing{
        padding-top: 5px;
    }

    /* product details */
    .modal-product-preview .preview-thumbnail.mob-thumb{
        float: none;
        position: relative;
        clear: both;
        width: 100%;
        overflow: hidden;
    }
    .mob-thumb-wrapper{
        overflow: auto;
        width: 100%;
    }
    .modal-product-preview .preview-thumbnail.mob-thumb .nav-tabs{
        /* width: 1000px; */
        margin-top: 15px;
    }
    .modal-product-preview .preview-thumbnail.mob-thumb .nav-tabs li{
        width: 86px;
        height: 65px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 10px;
    }
    .modal-product-preview .tab-content{
        width: 100%;
    }
    .product-arrow{
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: #f77b07;
        color: #fff;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        font-size: 1.5em;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .product-arrow:hover{
        color: #fff;
    }
    .product-arrow-left{
        left: 0px;
    }
    .product-arrow-right{
        right: 0px;
    }

    /* product listing */
    .product-filter{
        padding: 10px 0px;
    }
    .close-filter{
        right: 10px;
        top: 10px;
    }
    .product-list-row .iron-breadcrumb{
        padding-right: 30px;
    }
    .product-view-row{
        margin-top: 10px;
    }
    .product-view-row div[class^="col-sm-8"]{
        width: 40%;
    }
    .product-view-row div[class^="col-sm-4"]{
        width: 60%;
    }
    .product-list-row > div{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-filter{
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        margin: 0px;
        z-index: 9;
        overflow: auto;
        padding-top: 25px;
    }
    .product-filter > #accordion{
        padding-bottom: 55px;
    }
    .filter-button{
        display: block;
        padding: 10px 10px 0px 10px;
        /* for fix */
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding-bottom: 10px;
        background: #fff;
        z-index: 9;
    }
    .filter-button button{
        width: 100%;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    /* .product-info-right h2 {
        padding-right: 18px;
    } */
    .product-info-right .bookmark{
        right: 0px;
    }
    .pr-filter-icn{
        display: block;
        position: relative;
        /* left: 20px;
        top: 2px; */
        color: #444;
        font-size: 0.875em;
        width: 50%;
        border: 1px solid #ebebeb;
        border-right: none;
        text-align: center;
        padding-top: 6px;
    }
    .pr-filter-icn i{
        position: absolute;
        right: 10px;
        top: 9px;
        -webkit-text-stroke: 1.5px #fff;
    }
    .product-actions{
        align-items: inherit !important;
    }
    .product-actions .flex-grow-1{
        width: 50%;
    }
    .product-actions .flex-grow-1 .select2-container:before{
        content: 'Sort';
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        pointer-events: none;
    }
    .product-actions .flex-grow-1 .select2-selection__rendered{
        text-align: center;
        font-size: 0;
    }
    .product-actions .js-select2 + .select2 .select2-selection--single{
        border-radius: 0px;
    }
    .product-search-result div[class^="col-"]{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .preview .tab-content{
        height: 250px;
    }
    .preview-thumbnail.nav-tabs li{
        height: 42px;
    }

    /* message */
    .message-list{
        width: 100%;
        border-right: none;
    }
    .content-head{
        position: relative;
        padding-top: 45px;
    }
    .message-content{
        display: none;
    }
    .mobile-back{
        display: block;
        position: absolute;
        top: 10px;
    }
    .action-icons{
        position: absolute;
        top: 10px;
        left: 60px;
    }

    /* search container */
    .search-container .search-types .custom-control{
        line-height: 25px;
    }

    /* category listing */
    .category-listing .col-sm-3{
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    /* statastics */
    .stat-list-combo .statastics{
        padding: 30px 0px;
    }
    .stat-list-combo .list-with-us{
        padding-bottom: 30px;
    }
    .statastics {
        padding: 30px 0px;
    }
    .statastics .container > .row{
        padding: 0px;
    }
    .search-container{
        width: calc(100% - 30px);
    }
    label[for="searchButton"]{
        display: none;
    }
    .category-listing .card-title{
        padding: 5px 10px;
    }
    .category-listing .card-body{
        padding: 5px 10px;
    }

    .search-container-inner{
        padding-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 8px;
    }
    .search-container-inner .d-flex{
        flex-flow: column;
    }
    .search-container-inner .search-types{
        width: 100%;
        margin-bottom: 5px;
    }
    .search-container-inner .search-group{
        width: 100%;
    }
    .search-container-inner .search-inline-form{
        flex-flow: row;
    }

    /* contact */
    .contact-page .transparent-box{
        padding-right: 0px;
    }
    .contact-page .transparent-box .row.pb-4_5{
        display: block;
    }
    .contact-page .transparent-box .row.pb-4_5 img{
        margin-bottom: 10px;
    }

    .form-iron .form-group .input-group-text.icon-text{
        padding-top: 1.4em;
    }

    .dt-head > .row{
        display: block;
    }
    .dt-head .mail-search {
        width: calc(100% - 72px);
    }
    .dt-head .dt-search{
        margin: 10px 0px;
    }
    .dataTables_paginate .pagination{
        justify-content: center !important;
        padding-right: 0px;
    }
    div.dataTables_wrapper div.dataTables_info{
        padding-left: 0px;
    }

    /* dashboard */
    .dash-header .col-picker:after{
        top: 8px;
    }

    .modal-xl{
        max-width: 90%;
    }

    /* footer */
    .foot-top input[type="email"]{
        width: calc(100% - 100px);
        margin-right: 5px;
    }
    .foot-bottom li a, .foot-bottom li p {
        padding: 6px 6px;
    }

    .footer-v2 .custom-links li a{
        padding: 5px;
    }

    /* v2 */
    .search-container-inner .search-container-inner-v2 .search-inline-form{
        flex-flow: column;
    }
    .head-v2{
        padding-top: 0px;
    }
    .home-banner-v2.home-banner{
        /* padding-top: 120px; */
        padding-top: 55px;
    }
    .inner-banner-v2.inner-banner{
        /* min-height: 95px; */
        min-height: 55px;
    }

    .add-row > .col-sm-4{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .address-card {
        padding: 15px;
    }
    .add-footer .custom-control-label::before, .add-footer .custom-control-label::after{
        top: 0.15rem;
    }

    .tab-link-wrapper{
        overflow: auto;
    }
    .tab-link-wrapper .nav-tabs{
        width: 770px;
    }
    .top-header.mob-head{
        display: block;
        position: unset;
        padding: 0px;
        margin: 0px;
    }
    .top-header.mob-head li{
        display: block;
        padding: 3px 4px;
    }
    .top-header.mob-head li.lang-drop{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .navbar-nav-mob{
        display: block;
    }
    .hide-991{
        display: none;
    }
    .top-header.mob-head .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 0.875em;
    }
    .top-header.mob-head li .select2-container{
        width: auto !important;
        padding-right: 15px;
    }
}

@media (max-width: 767px){
    /* header */
    .form-iron .input-group-text img{
        max-width: 90%;
        margin: 0 auto;
    }
    .custom-block-mob{
        display: block !important;
    }

    /* login modal */
    .modal-iron .modal-dialog{
        width: 90%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .modal-iron .modal-body{
        padding: 15px;
    }
    .modal-signin .modal-body .container{
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }
    .modal-iron .close{
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        line-height: 0;
    }
    .modal-iron .close img{
        width: 100%;
    }
    .modal-iron .form-group, .modal-signin .input-group{
        margin-bottom: 10px !important;
    }
    .modal-iron .form-group.mb-0{
        margin-bottom: 0px !important;
    }
    .modal-signin .modal-tabs.nav-tabs .nav-link{
        padding: 10px 0px;
        font-size: 1em;
    }

    /* modal-welcome */
    .modal-welcome img{
        max-width: 150px;
    }
    .modal-welcome .mb-5{
        margin-bottom: 1rem!important;
    }
    .modal-welcome .mt-4 {
        margin-top: 1rem!important;
    }

    /* modal filter */
    .modal-filter.modal .modal-dialog{
        margin: 10px;
        max-width: calc(100% - 20px) !important;
        width: calc(100% - 20px) !important;
    }
    .modal-filter .modal-body {
        max-height: calc(100vh - 190px);
    }

    /* search container */
    .search-container h3{
        font-size: 1.12em;
    }
    .home-banner{
        padding-top: 80px;
        padding-bottom: 25px;
    }

    .product-search-result .text-xsmall{
        margin-bottom: 5px !important;
    }
    .category-listing .select-box{
        width: 100%;
    }
    .category-listing .card-text{
        font-size: 0.875em;
    }
    .home-category.category-listing .card{
        margin-bottom: 15px;
    }
    .home-category.category-listing .card-img-top, .home-category.category-listing .card-header:before{
        display: none;
    }
    .home-category.category-listing .card-title{
        color: #212529;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .home-category.category-listing .card-body{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .home-category.category-listing .card-header{
        height: auto;
        background-color: #fff;
    }
    .home-category.category-listing .card-title{
        position: relative;
    }

    .stat-list-combo .statastics .container > .row > .col-sm-3:nth-child(2), .stat-list-combo .statastics .container > .row > .col-sm-3:nth-child(3), .stat-list-combo .statastics .container > .row > .col-sm-3:nth-child(4){
        padding-left: 15px;
    }


    /* category listing */
    .category-listing .col-sm-3{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .grid-view .product-list-box{
        /* width: calc(50% - 16px); */
        width: 100%;
        font-size: 0.875em;
    }
    .grid-view .btn-orange{
        padding: 7px 10px;
    }
    /* .grid-view .text-medium{
        font-size: 1em !important;
    } */

    /* products detail */
    .product-view-row.detailed div[class^="col-"]{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-view-row.detailed div[class^="col-"] .text-orange{
        margin-top: 5px;
        display: inline-block;
    }
    .product-info .btn{
        min-width: auto;
    }

    /* category listing */
    .category-search{
        margin-top: 10px;
    }
    .category-card .card-header > .d-flex{
        flex-flow: column;
        -ms-flex-align: flex-start !important;
        align-items: flex-start !important;
    }
    .category-card .card-header{
        padding: 15px !important;
    }
    .dt-card.category-card .card-header {
        padding: 15px 10px !important;
    }
    .category-card .card-header .category-search input[type="text"]{
        width: calc(100% - 200px);
    }
    .category-card .card-body{
        padding: 15px;
    }
    .account-card .card-footer{
        padding: 15px;
    }
    .category-search, .category-search form{
        width: 100%;
        -ms-flex-pack: space-between!important;
        justify-content: space-between!important;
    }
    .category-card .card-body .category-columns li{
        width: 100%;
    }
    .category-card .card-body .category-columns li a{
        padding: 5px 0;
    }

    /* COMPLETE YOUR PROFILE */
    .profile-compeletion .title{
        padding: 15px 0px;
    }
    .bs-category{
        padding: 15px;
    }
    .custom-check-with-label .custom-checkbox{
        margin-right: 5px;
        margin-top: 10px;
    }
    .bs-form .bs-form-block{
        padding: 15px;
    }

    /* subscription */
    .sub-body-col{
        overflow: auto;
    }
    .sub-body-col-wrapper .row{
        width: 800px;
        margin-left: 0px;
    }
    .sub-head-col{
        flex: 0 0 40%;
        max-width: 40%;
    }
    .sub-body-col-wrapper{
        flex: 0 0 60%;
        max-width: 60%;
        padding-left: 0px;
        padding-right: 5px;
    }
    .subscription-body:hover{
        transform: scale(1);
    }
    .subscription-section {
        margin-bottom: 30px;
    }
    .subscription-section .row > .col-3{
        padding-top: 30px;
    }
    .fl-title{
        top: -32px;
    }
    .subscription-section .title{
        margin-bottom: 0px;
    }
    .sub-arrow{
        display: block;
        z-index: 9;
        position: absolute;
        color: #fff;
        background: #ff8a00;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
    .sub-arrow:hover{
        color: #fff;
    }
    .sub-arrow-left{
        left: -5px;
    }
    .sub-arrow-right{
        right: 0px;
    }

    /* message */
    .message-list .message-header {
        padding: 7px 10px;
    }
    .single-mail .nav-link {
        padding: 10px 5px;
    }
    .msg-user-name{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .content-head{
        padding: 45px 10px 10px 10px;
    }
    .content-head .row .col{
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .content-body ul li {
        padding: 15px 10px;
    }
    .col-content{
        padding-right: 10px;
    }
    .content-body ul li .row.flex-row-reverse .col-content{
        padding-left: 15px;
    }
    .mail-typo {
        padding: 10px;
    }
    .action-icons{
        left: 30px;
        top: -35px;
    }
    .back-msg img{
        width: 20px;
        opacity: 0.8;
    }
    .action-icons a + a {
        margin-left: 10px;
    }
    .mobile-back + .row{
        position: relative;
        flex-flow: column-reverse;
    }
    .mobile-back + .row:after{
        content: '';
        position: absolute;
        height: 1px;
        width: calc(100% - 10px);
        background-color: #e7e8ec;
        left: 5px;
        top: -5px;
    }
    .single-mail .t-stamp{
        text-align: right;
    }

    /* add-product */
    .add-product .card-header > .row{
        display: block !important;
    }
    .add-product .card-header > .row h3{
        margin-bottom: 5px !important;
    }
    .add-product .card-header > .row .pr-5{
        padding-right: 1rem !important;
    }
    .add-product .card-header > .row .w-20{
        width: 15px;
    }
    .product-preview-images li{
        margin-left: 0.7%;
    }
    .product-placeholder-title{
        font-size: 18px;
    }
    .product-placeholder-title img{
        width: 30px;
    }

    /* contact */
    .static-box {
        padding: 20px;
    }
    .contact-page .transparent-box{
        padding-right: 5px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .contact-page .transparent-box .row.pb-4_5{
        display: flex;
    }
    .contact-page .transparent-box .row.pb-4_5 img{
        margin-bottom: 10px;
    }
    .contact-page .transparent-box .row.pb-4_5 .col-auto{
        padding-right: 0px;
    }
    
    /* payment */
    .payment-container {
        padding: 20px 15px;
    }
    .plan-selected{
        padding: 15px;
    }
    .plan-selected .row{
        display: block;
    }
    .plan-selected .row .col:first-child{
        margin-bottom: 15px;
    }

    /* dashboard */
    .dash-box-info{
        padding: 15px;
    }
    .key-info{
        padding: 5px 0px;
    }
    .key-info:first-of-type {
        padding-top: 10px;
    }
    .highcharts-zoom-in, .highcharts-zoom-out{
        display: none;
    }
    .dash-box h4{
        text-align: center;
    }
    .dash-header .col-brand, .dash-header .col-picker{
        width: 50%;
    }
    .dash-col:first-child{
        margin-left: 0px;
    }

    /* list-with-us */
    .list-with-us{
        padding: 30px 0px;
    }
    .list-with-us h3{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .list-with-us p{
        font-size: 1em;
    }

    /* statastics */
    .statastics div[class^="col-"]{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .stat-box{
        background-size: 30px;
        padding-left: 40px;
    }
    .statastics h3{
        font-size: 1.75em;
    }

    /* footer */
    .foot-top {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .foot-top .form-inline{
        margin-bottom: 10px;
    }
    .foot-top .container > .row{
        padding: 0;
    }
    .social-links{
        margin-bottom: 0px;
    }
    .social-links .custom-control-inline{
        margin-right: 0px;
    }
    footer .social-links li a{
        margin: 0 5px;
    }
    .foot-bottom .custom-control-inline{
        display: block;
    }
    .foot-bottom li p{
        margin-right: 0px;
    }
    .foot-bottom li a, .foot-bottom li p{
        padding: 5px 0;
    }
    footer div[class^="col-"]{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .foot-bottom .custom-control-inline{
        margin-right: 0px;
    }

    footer.footer-v2 .custom-links{
        display: block;
    }
    .footer-v2 .form-inline{
        display: -ms-flexbox;
        display: flex;
    }
    .home-banner-v2.home-banner {
        /* padding-top: 95px; */
    }
    .pre-login-box{
        width: 100%;
        padding: 20px 20px 0px 20px;
    }
    .pre-login-box .modal-body {
        padding: 0px 0px;
    }
    .add-row > .col-sm-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0px;
    }
    .add-row > .col-sm-4:last-child{
        margin-bottom: 0px;
    }
    .grid-view .product-info-right{
        min-height: auto;
    }
    .grid-view .product-info-right .btn-orange{
        position: unset;
    }
}

@media (max-width: 600px){
    .search-container{
        padding: 10px 15px;
    }
    .ad-search-row{
        flex-flow: column-reverse;
    }
    .ad-search-row > div{
        width: 100%;
    }
    .ad-search-row .flex-grow-1 + div{
        text-align: right;
        padding-bottom: 10px;
    }
    .search-types .custom-control{
        margin-right: 5px;
    }
    .search-inline-form{
        flex-flow: column;
    }
    .search-inline-form li{
        width: 100%;
        margin-bottom: 8px !important;
    }
    .search-inline-form li:not(:last-child){
        padding-right: 0px;
    }
    .search-container .search-types ul{
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    .search-container-inner .search-inline-form{
        flex-flow: column;
    }
    .search-container-inner .search-inline-form li{
        width: 100% !important;
    }

    .normal-tabs .nav-item{
        margin-right: 10px;
    }
    .normal-tabs .nav-link{
        font-size: 1em;
    }
    .tab-link-wrapper .nav-tabs{
        width: 560px;
    }
}
@media (max-width: 563px){
    /* daterangepicker */
    .daterangepicker{
        width: calc(100% - 30px);
    }
    .daterangepicker.show-calendar .drp-calendar{
        display: inline-block;
    }
    .daterangepicker.show-calendar .drp-calendar.right{
        float: right;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
        min-width: auto;
        width: 35px;
    }
}
@media (max-width: 480px){
    .currency-open{
        right: 10px;
    }
    .mail-search {
        width: 130px;
    }
    .dash-row{
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
    .dash-header .col-brand, .dash-header .col-picker {
        width: 100%;
    }
    .dash-header .col-picker{
        margin-top: 10px;
        margin-left: 0px;
    }
    
    /* daterange mobile */
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
        width: 29px;
    }
}  

@media (max-width: 414px){
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        width: 24px;
    }
}

@media (max-width: 384px){
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        width: 23px;
        line-height: 23px;
    }
}

@media (max-width: 375px){
    .category-listing .col-sm-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .stat-box{
        background-size: 25px;
        padding-left: 30px;
    }
    .statastics .col-sm-3:nth-child(-n + 2){
        margin-bottom: 10px;
    }
    .statastics .col-sm-3:nth-child(odd){
        padding-right: 15px;
        padding-left: 15px;
    }
    .statastics .col-sm-3:nth-child(even){
        padding-left: 0px;
        padding-right: 0px;
    }
    .sub-body-col-wrapper .row {
        width: 660px;
    }
    .sub-head-col {
        flex: 0 0 45%;
        max-width: 45%;
    }
    .sub-body-col-wrapper {
        flex: 0 0 55%;
        max-width: 55%;
    }
    .fl-title{
        font-size: .75em;
        top: -29px;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        width: 22px;
        line-height: 22px;
    }
}

@media (max-width: 360px){
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        width: 21px;
        line-height: 21px;
    }
}

@media (max-width: 320px){
    .search-container{
        width: 95%;
    }
    .sub-body-col-wrapper .row {
        width: 580px;
    }
    .normal-tabs .nav-link {
        font-size: 0.88em;
    }
    .category-card .btn-orange{
        padding: 5px 10px;
    }
    .daterangepicker .drp-calendar.left {
        padding: 0 0 0 5px;
    }
    .daterangepicker .drp-calendar.right {
        padding: 0 5px 0 0;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        width: 18px;
        line-height: 18px;
    }
    .daterangepicker .drp-buttons .btn {
        margin-left: 8px;
        font-size: 12px;
        font-weight: bold;
        padding: 4px 3px;
    }
    .tab-link-wrapper .nav-tabs{
        width: 510px;
    }
}

@media (min-width: 991px){
    .navbar-nav .nav-item:hover .nav-link ~ .sub-menu{
        display: block;
    }
    .sub-menu-level-1 li:hover .sub-menu-level-2{
        display: block;
    }
    .user-icn:hover .user-dropdown{
        display: block;
    }
    /* .navbar-nav .nav-item:hover .nav-link ~ .sub-menu .sub-menu-level-1 li:first-child .sub-menu-level-2{
        display: block;
    } */
}

@media (min-width: 1600px){
    .home-banner{
        padding-top: 140px;
        padding-bottom: 105px;
    }
    .home-banner:after{
        height: 70%;
    }
    .inner-banner{
        min-height: 160px;
    }
    .home-banner-v2.banner-box:after {
        height: 228px;
    }
}
@media (min-width: 1920px){
    .home-banner{
        padding-top: 180px;
        padding-bottom: 145px;
    }
    .inner-banner{
        min-height: 200px;
    }
}
